.colorMixLabelWrapper {
  position: absolute;
  background-color: var(--gray-3);
  padding: 0.5em 1em;
  border-radius: 8px;
}

.left {
  left: -10em;
  top: -6em;
}

.right {
  right: -10em;
  top: -6em;
}

.closeButton {
  border-radius: 50%;
  background-color: var(--gray-2);
  top: -0.8em;
  right: -0.8em;
  position: absolute;
  height: 2em;
  width: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.closeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
}

.closeButton:hover {
  background-color: var(--gray-4);
}
