.tooltipWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 5;
}

.tooltipBody {
  background-color: var(--gray-3);
  padding: 0.5em 1em;
  border-radius: 8px;
  width: 18ch;
  font-size: 1rem;
}

.arrow {
  margin-top: -0.1em;
}
