@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Black.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Bold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-SemiBold.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../public//fonts/inconsolata.regular.ttf');
  font-weight: 700;
  font-style: normal;
}
